.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 45px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  position: relative;
  padding-right: 40px;
}

.input {
  flex-grow: 1;
  outline: none;
  padding: 10px;
  border: none;
}

.input-container:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input-container:focus-within {
  border: 2px solid grey;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.valid {
  border: 2px solid green;
}

.invalid {
  border: 2px solid red;
}
