.loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #0047a3;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 50;
}

.loader_button {
  display: none;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin_button 0.8s linear infinite;
}

.btn.loading span {
  display: none;
}

.btn.loading .loader_button {
  display: inline-block;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin_button {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
