<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GenBank - Recuperar Contraseña</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/css/output.css') }}"
    />
  </head>
  <body id="body-reset-password" class="fade-in">
    <div id="loader" class="loader"></div>

    <section
      id="section-reset-password"
      class="flex items-center justify-center min-h-screen gradient"
    >
      <div
        class="relative bg-gray-100 flex justify-center items-center p-2 min-h-screen w-full max-w-[600px] shadow-xl shadow-black/70"
      >
        <h1
          class="absolute top-5 text-center text-[#0047a3] text-2xl font-medium mb-10 lg:mb-0"
        >
          GenBank
        </h1>
        <div class="w-full max-w-md p-4 sm:p-8 bg-white rounded-lg shadow-lg">
          <h1
            class="text-2xl sm:text-3xl font-bold text-center gradient-text mb-4"
          >
            Recuperar Contraseña
          </h1>
          <p class="text-gray-500 text-center text-xs sm:text-sm mb-6">
            Ingresa tu nueva contraseña para restablecer el acceso.
          </p>

          <form id="form-reset-password" class="flex flex-col gap-4">
            <div class="input-container">
              <input
                id="password"
                type="password"
                name="password"
                placeholder="Nueva Contraseña"
                class="input text-sm sm:text-base"
                required
              />
              <div id="eye" class="icon cursor-pointer">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  fill="#6b7280"
                  viewBox="0 0 256 256"
                >
                  <path
                    d="M247.31,124.76c-.35-.79-8.82-19.58-27.65-38.41C194.57,61.26,162.88,48,128,48S61.43,61.26,36.34,86.35C17.51,105.18,9,124,8.69,124.76a8,8,0,0,0,0,6.5c.35.79,8.82,19.57,27.65,38.4C61.43,194.74,93.12,208,128,208s66.57-13.26,91.66-38.34c18.83-18.83,27.3-37.61,27.65-38.4A8,8,0,0,0,247.31,124.76ZM128,192c-30.78,0-57.67-11.19-79.93-33.25A133.47,133.47,0,0,1,25,128,133.33,133.33,0,0,1,48.07,97.25C70.33,75.19,97.22,64,128,64s57.67,11.19,79.93,33.25A133.46,133.46,0,0,1,231.05,128C223.84,141.46,192.43,192,128,192Zm0-112a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Z"
                  ></path>
                </svg>
              </div>
            </div>

            <div class="input-container">
              <input
                id="confirm_password"
                type="password"
                name="confirm_password"
                placeholder="Confirmar Contraseña"
                class="input text-sm sm:text-base"
                required
              />
              <div id="eye-confirm" class="icon cursor-pointer">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  fill="#6b7280"
                  viewBox="0 0 256 256"
                >
                  <path
                    d="M247.31,124.76c-.35-.79-8.82-19.58-27.65-38.41C194.57,61.26,162.88,48,128,48S61.43,61.26,36.34,86.35C17.51,105.18,9,124,8.69,124.76a8,8,0,0,0,0,6.5c.35.79,8.82,19.57,27.65,38.4C61.43,194.74,93.12,208,128,208s66.57-13.26,91.66-38.34c18.83-18.83,27.3-37.61,27.65-38.4A8,8,0,0,0,247.31,124.76ZM128,192c-30.78,0-57.67-11.19-79.93-33.25A133.47,133.47,0,0,1,25,128,133.33,133.33,0,0,1,48.07,97.25C70.33,75.19,97.22,64,128,64s57.67,11.19,79.93,33.25A133.46,133.46,0,0,1,231.05,128C223.84,141.46,192.43,192,128,192Zm0-112a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Z"
                  ></path>
                </svg>
              </div>
            </div>

            <button type="submit" id="btn_reset_password" class="btn">
              <div class="loader_button"></div>
              <span class="text-sm sm:text-base">Restablecer Contraseña</span>
            </button>
          </form>

          <p class="text-center text-xs sm:text-sm text-gray-500 mt-6">
            ¿Recordaste tu contraseña?
            <a
              href="/auth/login"
              class="text-[#0047a3] text-xs font-medium hover:underline"
              >Volver al inicio de sesión</a
            >
          </p>
        </div>
      </div>
    </section>

    <script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/reset_password.js')}}"
    ></script>
  </body>
</html>
